@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Mono", monospace;
}

html p {
  font-size: 1.1rem;
  color: #252525;
}

html h2 {
  font-weight: 500;
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 0.4rem;
}

html b {
  font-weight: 500;
  color: #333333;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  padding-left: 4%;
  padding-right: 4%;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

body {
  background-color: #333333;
}
body .portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.8em;
  margin: 0px auto;
}
body .portfolio .nav ul {
  font-size: 1.1rem;
  list-style: none;
  position: relative;
  margin-left: 2.6em;
}
body .portfolio .nav ul li {
  position: absolute;
  left: -45px;
  writing-mode: vertical-lr;
  padding: 0px 10px;
  margin: 0px 0px 0px 0px;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  transform: rotate(-180deg);
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.164);
  text-align: center;
  height: 180px;
  border-radius: 12px 0px 0px 12px;
}
body .portfolio .nav ul li a {
  text-decoration: none;
  color: #333333;
  padding: 34px 10px;
  text-align: center;
}
body .portfolio .nav ul li:nth-child(1) {
  margin-top: 180px;
  background-color: rgb(242, 222, 255);
  z-index: 6;
}
body .portfolio .nav ul li:nth-child(2) {
  top: 358px;
  background-color: rgb(222, 255, 224);
  z-index: 5;
}
body .portfolio .nav ul li:nth-child(3) {
  top: 538px;
  background-color: rgb(222, 242, 255);
  z-index: 4;
}
body .portfolio .nav ul li:nth-child(4) {
  top: 718px;
  background-color: rgb(255, 233, 222);
  z-index: 3;
}
body .portfolio .page {
  z-index: 7;
  background-color: rgb(255, 249, 233);
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: none;
  background-size: auto;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: none;
  background-size: auto;
  background-image: linear-gradient(90deg, #9ed4f0, 2px, transparent, 2px, transparent), linear-gradient(0, #d9eaf3, 1px, transparent, 2px, transparent);
  background-position: 5rem 0, 0 5px;
  background-size: 100% 1.7rem;
  margin: 0px;
  padding: 50px 0px 40px 20px;
  height: auto;
  width: 1000px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
  position: relative;
  margin-bottom: 2rem;
  border: transparent;
  border-style: none;
}
body .portfolio .page span.paper-clip:after {
  width: 20px;
  height: 55px;
  content: " ";
  background: rgba(255, 255, 255, 0);
  display: block;
  position: absolute;
  left: -3px;
  top: 10px;
  border-radius: 10px;
  border: 3px solid #ff9170;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body .portfolio .page span.paper-clip {
  background: rgba(255, 247, 222, 0);
  height: 90px;
  width: 28px;
  border-radius: 14px;
  border: 3px solid #ff9170;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -20px;
  transform: rotate(-60deg);
}
body .portfolio .page .profile-wraper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
body .portfolio .page .profile-wraper .profile-pic-bg {
  position: relative;
  height: 270px;
  width: 270px;
  border: 10px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.151);
  transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
}
body .portfolio .page .profile-wraper .profile-pic-bg .profile-pic {
  position: absolute;
  height: 270px;
  width: 270px;
  overflow: hidden;
  /* border-radius: 50%; */
  border: 10px solid #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
  margin: 1.6rem;
  /* float: left; */
  transform: scale(1) rotate(-4deg) translate(0px, 0px) skew(0deg, 0deg);
}
body .portfolio .page .profile-wraper .profile-pic-bg .profile-pic img {
  width: 270px;
}
body .portfolio .page .profile-wraper .about-me {
  max-width: 60%;
  color: #333333;
  margin-left: 2.6rem;
}
body .portfolio .page .profile-wraper .about-me h1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #333333;
}
body .portfolio .page .profile-wraper .about-me h3 {
  padding-bottom: 1em;
  font-weight: 500;
}
body .portfolio .page .profile-wraper .about-me .my-about {
  margin-bottom: 16px;
}
body .portfolio .page .profile-wraper .about-me h2 {
  font-weight: 500;
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 0.4rem;
}
body .portfolio .page .profile-wraper .about-me .social-wraper {
  text-align: unset;
  padding-top: 1rem;
}
body .portfolio .page .profile-wraper .about-me .social-wraper p {
  display: inline-block;
  margin: 0.4rem 1.8rem !important;
  font-size: 1.1rem;
  position: relative;
}
body .portfolio .page .profile-wraper .about-me .social-wraper p a {
  color: #333333;
  text-decoration: none;
  padding-top: -20px;
}
body .portfolio .page .profile-wraper .about-me .social-wraper p a strong u {
  text-decoration: none;
  background-repeat: repeat-x;
  background-image: url("/images/underLine.svg");
  background-position: 0 0.9em;
  background-size: 28px 9px;
  color: #333333;
}
body .portfolio .page .profile-wraper .about-me .social-wraper p img {
  position: absolute;
  height: 22px;
  left: -28px;
}
body .portfolio .page .profile-wraper::after {
  display: block;
  content: "";
  clear: both;
}
body .portfolio .page .profileDetails {
  margin-top: 3rem;
  margin-left: 4.8rem;
  padding-right: 2em;
}
body .portfolio .page .profileDetails .LanguagesTools p {
  padding-left: 0.6em;
}
body .portfolio .page .profileDetails .hobbeis {
  margin-top: 2rem;
}
body .portfolio .page .profileDetails .hobbeis p {
  padding-left: 0.6em;
}
body .portfolio .page .skills {
  margin-top: 2rem;
  color: #333333;
  font-size: 1.1rem;
}
body .portfolio .page .skills p {
  padding-left: 0.6em;
}
body .portfolio .page .projects {
  margin-top: 3rem;
  margin-left: 4.8rem;
  padding-right: 2em;
}
body .portfolio .page .projects .projectItem {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
body .portfolio .page .projects .projectItem .projectImage {
  display: block;
  max-width: 300px;
  height: 200px;
}
body .portfolio .page .projects .projectItem .projectImage img {
  max-width: 300px;
  height: 200px;
}
body .portfolio .page .projects .projectItem .projectContents {
  flex: 1;
  padding-left: 1.4rem;
  margin-top: 1rem;
}
body .portfolio .page .projects .projectItem .projectContents .PCTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .portfolio .page .projects .projectItem .projectContents .PCTitle h2 {
  display: inline;
  text-decoration: none;
  background-repeat: repeat-x;
  background-image: url("/images/underLine.svg");
  background-position: 0 1em;
  background-size: 28px 9px;
  color: #333333;
}
body .portfolio .page .projects .projectItem .projectContents .PCTitle .PTechnologies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6.4px;
}
body .portfolio .page .projects .projectItem .projectContents .PCTitle .PTechnologies img {
  height: 20px;
  margin-left: 0.4rem;
}
body .portfolio .page .projects .projectItem .projectContents .PCTitle .PTechnologies img:first-child {
  margin-left: 0rem;
}

@media (max-width: 1111px) {
  .container {
    padding: 0px;
  }
  body {
    position: relative;
  }
  body .portfolio {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }
  body .portfolio .nav {
    z-index: 10;
    height: 44px;
    width: auto;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  body .portfolio .nav ul {
    font-size: 1.1rem;
    list-style: none;
    position: relative;
    margin-left: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
  }
  body .portfolio .nav ul li {
    text-align: center;
    display: inline-block;
    position: unset;
    width: 200px;
    left: 0px;
    writing-mode: horizontal-tb;
    padding: 0px 0px;
    margin: 0rem;
    inline-size: auto;
    transform: rotate(0deg);
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.164);
    text-align: center;
    height: 44px;
    border-radius: 12px 12px 0px 0px;
  }
  body .portfolio .nav ul li a {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 10px 20px;
    text-align: center;
  }
  body .portfolio .nav ul li:nth-child(1) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(242, 222, 255);
    z-index: 8;
  }
  body .portfolio .nav ul li:nth-child(2) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(222, 255, 224);
    z-index: 8;
  }
  body .portfolio .nav ul li:nth-child(3) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(222, 242, 255);
    z-index: 8;
  }
  body .portfolio .nav ul li:nth-child(4) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(255, 233, 222);
    z-index: 8;
  }
  body .portfolio .page {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 5rem;
    border-style: none;
    width: 100vw;
    background-image: linear-gradient(90deg, rgba(158, 213, 240, 0), 2px, transparent, 2px, transparent), linear-gradient(0, #d9eaf3, 1px, transparent, 2px, transparent);
  }
  body .portfolio .page span.paper-clip:after {
    display: none;
  }
  body .portfolio .page span.paper-clip {
    display: none;
  }
  body .portfolio .page .profile-wraper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  body .portfolio .page .profile-wraper .profile-pic-bg {
    position: relative;
    height: 270px;
    width: 270px;
    border: 10px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.151);
    transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
  }
  body .portfolio .page .profile-wraper .profile-pic-bg .profile-pic {
    position: absolute;
    height: 270px;
    width: 270px;
    overflow: hidden;
    /* border-radius: 50%; */
    border: 10px solid #ffffff;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    margin: 1.6rem;
    /* float: left; */
    transform: scale(1) rotate(-4deg) translate(0px, 0px) skew(0deg, 0deg);
  }
  body .portfolio .page .profile-wraper .profile-pic-bg .profile-pic img {
    width: 270px;
  }
  body .portfolio .page .profile-wraper .about-me {
    margin-top: 2.2em;
    max-width: 100%;
    color: #333333;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  body .portfolio .page .profile-wraper .about-me h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #333333;
  }
  body .portfolio .page .profile-wraper .about-me h3 {
    padding-bottom: 1em;
    font-weight: 500;
  }
  body .portfolio .page .profile-wraper .about-me .my-about {
    margin-bottom: 12px;
  }
  body .portfolio .page .profile-wraper .about-me h2 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #333333;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper {
    text-align: unset;
    padding-top: 1rem;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper p {
    display: inline-block;
    font-size: 1.1rem;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper p a {
    color: #333333;
    text-decoration: none;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper p a strong u {
    text-decoration: none;
    background-repeat: repeat-x;
    background-image: url("../img/adil.svg");
    background-position: 0 1.06em;
    background-size: 28px 9px;
    color: #333333;
  }
  body .portfolio .page .profileDetails {
    margin-top: 3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding-right: 2em;
  }
  body .portfolio .page .profileDetails .LanguagesTools p {
    padding-left: 0.6em;
  }
  body .portfolio .page .profileDetails .hobbeis {
    margin-top: 2rem;
  }
  body .portfolio .page .profileDetails .hobbeis p {
    padding-left: 0.6em;
  }
}
@media (max-width: 946px) {
  .container {
    padding: 0px;
  }
  body {
    position: relative;
  }
  body .portfolio {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }
  body .portfolio .nav {
    z-index: 10;
    height: 44px;
    width: auto;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  body .portfolio .nav ul {
    font-size: 1.1rem;
    list-style: none;
    position: relative;
    margin-left: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
  }
  body .portfolio .nav ul li {
    text-align: center;
    display: inline-block;
    position: unset;
    width: 200px;
    left: 0px;
    writing-mode: horizontal-tb;
    padding: 0px 0px;
    margin: 0rem;
    inline-size: auto;
    transform: rotate(0deg);
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.164);
    text-align: center;
    height: 44px;
    border-radius: 12px 12px 0px 0px;
  }
  body .portfolio .nav ul li a {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 10px 20px;
    text-align: center;
  }
  body .portfolio .nav ul li:nth-child(1) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(242, 222, 255);
    z-index: 8;
  }
  body .portfolio .nav ul li:nth-child(2) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(222, 255, 224);
    z-index: 8;
  }
  body .portfolio .nav ul li:nth-child(3) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(222, 242, 255);
    z-index: 8;
  }
  body .portfolio .nav ul li:nth-child(4) {
    margin-top: 0px;
    bottom: 0px;
    background-color: rgb(255, 233, 222);
    z-index: 8;
  }
  body .portfolio .page {
    z-index: 7;
    background-color: rgb(255, 249, 233);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position-x: 0%;
    background-position-y: 0%;
    background-image: linear-gradient(90deg, rgba(158, 213, 240, 0), 2px, transparent, 2px, transparent), linear-gradient(0, #d9eaf3, 1px, transparent, 2px, transparent);
    background-size: auto;
    background-position: 5rem 0, 0 5px;
    background-size: 100% 1.7rem;
    margin: 0px;
    padding: 3em 0em 5rem 1em;
    height: auto;
    width: 100vw;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
    position: relative;
    margin-bottom: 0px;
    border-style: none;
  }
  body .portfolio .page span.paper-clip:after {
    display: none;
  }
  body .portfolio .page span.paper-clip {
    display: none;
  }
  body .portfolio .page .profile-wraper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  body .portfolio .page .profile-wraper .profile-pic-bg {
    position: relative;
    height: 270px;
    width: 270px;
    border: 10px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.151);
    transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
  }
  body .portfolio .page .profile-wraper .profile-pic-bg .profile-pic {
    position: absolute;
    height: 270px;
    width: 270px;
    overflow: hidden;
    /* border-radius: 50%; */
    border: 10px solid #ffffff;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    margin: 1.6rem;
    /* float: left; */
    transform: scale(1) rotate(-4deg) translate(0px, 0px) skew(0deg, 0deg);
  }
  body .portfolio .page .profile-wraper .profile-pic-bg .profile-pic img {
    width: 270px;
  }
  body .portfolio .page .profile-wraper .about-me {
    margin-top: 2.2em;
    max-width: 100%;
    color: #333333;
  }
  body .portfolio .page .profile-wraper .about-me h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #333333;
  }
  body .portfolio .page .profile-wraper .about-me h3 {
    padding-bottom: 1em;
    font-weight: 500;
  }
  body .portfolio .page .profile-wraper .about-me .my-about {
    margin-bottom: 12px;
  }
  body .portfolio .page .profile-wraper .about-me h2 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #333333;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper {
    text-align: unset;
    padding-top: 1rem;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper p {
    display: inline-block;
    font-size: 1.1rem;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper p a {
    color: #333333;
    text-decoration: none;
  }
  body .portfolio .page .profile-wraper .about-me .social-wraper p a strong u {
    text-decoration: none;
    background-repeat: repeat-x;
    background-image: url("../img/adil.svg");
    background-position: 0 1.06em;
    background-size: 28px 9px;
    color: #333333;
  }
}
@media (max-width: 555px) {
  body .portfolio .page .profileDetails {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}/*# sourceMappingURL=style.css.map */